$font:"Comic Sans MS", cursive, sans-serif;
$green : #226c24;
body,html{
    height: 100%;
    margin: 0;
    background-image: url("images/back.jpg");
}
.middle{
    background-color: white;
    position: fixed;
    left: 20%;
    height: 100%;
    width: 60%;
    padding: 3%;
    border: 1px solid #ccc;
    overflow-y: auto;
}
h1{
    font-size: 400%;
    text-align: center;
    font-style: italic;
    margin-top: 1%;
    padding-top: 0;
    font-family: $font;
}
.right{
    width: 20%;
    float: right;
    button{
        border: none;
        color: white;
        background-color: $green;
        width: 90%;
        height: 7vh;
        border-radius: 3px;;
        margin: 4%;
        font-family: $font;
        font-size: 120%;
        font-weight:700;
        cursor: pointer;
    }
}
.left{
    padding: 7%;
    #size{
        text-align: center;
        font-style: italic;
        margin-left: 0;
        padding-top: 0;
        font-family: $font;
        font-size: 150%;
        float: left;
        animation-name: color;
        animation-duration: 8s;
    }
    @keyframes color {
        0% {color: black;}
        10% {color: $green;}
        20%{color:black;}
        30%{color:$green;}
        40%{color:black;}
        50% {color: $green;}
        60%{color:black;}
        70% {color: $green;}
        80%{color:black;}
        90% {color: $green;}
        100%{color:black; }
      }
    #stack{
        min-height: 200px;
        max-height: auto;
        margin-left: 20%;
        width: 29%;
        // border: 3px solid #ccc;
        border-top: none;
        border-bottom-left-radius: 5px;
        padding: 0;
        display: flex;
        margin-bottom: 5%;
        flex-direction: column-reverse;
        img{
            width: 100%;
            margin-bottom: -8%;
            position: relative;
            
        }
        .pushing{
            animation-name: pushing;
            animation-duration: 3s;
            animation-iteration-count: 1;
        }
        .popping{
            animation-name: popping;
            animation-duration: 2s;
            animation-iteration-count: 1;
            -webkit-animation-fill-mode: forwards;
        }
        .instack{
            animation-name: instack;
            animation-duration: 3s;
            animation-iteration-count: 1;
        }
        @keyframes pushing {
            0%   { left:-200%; top:-200%;}
            25%  { left:-100%; top:-200%;}
            50%  {left:0px; top:-200%;}
            100% { top:0px;}
          }
          @keyframes instack {
            0% { top:0px;}
            100% { top:0px;}
          }
          @keyframes popping {
            0%   { top:0px;}
            25%  {left:0px; top:-200px;}
            50%  { left:-100px; top:-200px;}
            90% { left:-200px; top:-200px;}
            100%{ left:-200px; top:-200px; visibility: hidden;}
          }
        
    }
    #empty{
        text-align: center;
        font-style: italic;
        margin-left: 0;
        padding-top: 0;
        font-family: $font;
        font-size: 150%;
        float: left;
        animation-name: color;
        animation-duration: 8s;
    }
    .empty{
        width: 50%;
        height: 50%;
        float: left;
        position: absolute;
    }
}